<div class="grid-container">
  <mat-grid-list cols="4">
    
    <mat-grid-tile *ngFor="let word of collectedwords" [colspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <mat-hint style="color: cadetblue; size: 5px;">{{word.name}}</mat-hint>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{word.example}}</div>
        </mat-card-content>
        
    </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>

</div>