.grid-container {
  position: relative;
  left: 20px;
  top: 60px;
}
.card{
  width: 100px;
  height: 100px;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  color: rgb(182, 110, 110);
}
.table{
  margin: 60px;
  position: relative;
  top: 40px;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
